html {
  box-sizing: border-box;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --dark: #070707;
  --index: calc(1vw + 1vh);
  --transition: 0.7s cubic-bezier(0.2, 0.7, 0, 1);
}

body {
  width: 100%;
  height: 100%;
  background-color: var(--dark);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
  line-height: 1.55;
}

.slider {
  height: 100%;
  transform: rotate(15deg);
  top: 10vh;
}

.slider.swiper {
  overflow: visible;
}

.slider__wrapper {
  transition: var(--transition) !important;
  will-change: transform;
}

.slider__item {
  height: 75vh;
  overflow: hidden;
  cursor: pointer;
  transition: transform var(--transition);
}

.slider__img {
  width: 300%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: -100%;
  transition: var(--transition) !important;
  will-change: transform;
}

.slider__bg {
  z-index: 0;
  transform: rotate(-20deg) !important;
  top: -60vh;
  left: -10vh;
  opacity: 0.3;
  filter: saturate(100) blur(100px);
}

.slider__bg .slider__item {
  height: 100vh;
}

.slider__item.opened {
  z-index: 10;
  transform: rotate(-15deg) scale(1.4);
  box-shadow: rgb(0, 0, 0, 0.75) 0 0 0 1000px;
}

.about {
  font-size: calc(var(--index) * 0.8);
  position: absolute;
  z-index: 10;
  top: 20vh;
  left: 5vw;
  max-width: 25vw;
  transition: opacity var(--transition), transform var(--transition);
}

.about__title {
  font-size: calc(var(--index) * 3.6);
  font-weight: 900;
  display: inline-block;
  background: linear-gradient(45deg, DarkMagenta, Tomato, Violet);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .about__text {
  opacity: 0.9;
  transition: transform var(--transition);
  transition-duration: 3s;
}

.about.hidden {
  opacity: 0;
  transform: translateY(-10vh);
}

.about.hidden .about__text {
  transform: translateY(-5vh);
}
